@media screen and (min-width: 576px) {
  .flex-0 {
    flex: 0;
  }
  .card-height {
    height: 280px;
  }
  .remove-product-button {
    right: -20px;
  }
}
@media screen and (max-width: 576px) {
  .ellipsis-third-line {
    -webkit-line-clamp: 3 !important;
  }
  .remove-product-button {
    right: -35px;
  }
}
.title-min-height {
  min-height: 30px;
}
.ellipsis {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}
.remove-product-button {
  position: absolute;
  top: -10px;
}